{{#partial "content"}}

    <h3>Edit members of team {{editTeam.name}}</h3>

    <h5>Team Members:</h5>
    {{#each editTeam.members}}
        <p> {{ this }}</p>
    {{/each}}


    <form action="/teams/{{editTeam.id}}/members/delete" method="post">
        <label for="memberToRemove">Name of member that you would like to remove</label>
        <br>
        <input id="memberToRemove" name="memberToRemove" type="text">
        <button type="submit" class="btn btn-default">Remove</button>
    </form>

{{/partial}}

{{> layout.hbs}}