{{#partial "content"}}

    <p><strong>Teams:</strong></p>


    {{#if teams}}
        {{#each teams }}
            <p>{{ name }}<a href="teams/{{id}}">  team details...</a></p>
        {{/each}}
    {{else}}
        <p>No teams yet!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}