{{#partial "content"}}

    <h6>Description</h6>

    <p><strong>Hack the Dot</strong> is a two-hour hackathon where code school students, working developers, marketing and design professionals, and anyone else interested in the Web come together to build ideas. Use your skills in web development, storytelling, and creative ideation to build a humorous (maybe even functional!) product quickly, while meeting people in your tech/startup community.</p>

    <p><strong>How does it work?</strong><br>At a domain-driven hackathon, all of the teams are given a single premium domain name at the beginning of the event. All teams then have two hours to come up with a product inspired by that domain, fueled by food and beverage. Whichever team builds the most creative and funny idea for the domain wins!<br>Prizes include the premium domain name itself, plus swag from our sponsors!</p>

    <p><strong>Teams:</strong></p>


    {{#if teams}}
        {{#each teams }}
            <p>{{ name }}<a href="teams/{{id}}">  team details...</a></p>
        {{/each}}
    {{else}}
        <p>No teams yet!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}