{{#partial "content"}}

    <p><strong>Teams:</strong></p>


    {{#if teams}}
        {{#each teams }}
            <p>{{ name }}<a href="teams/{{id}}">  team details...</a></p>
        {{/each}}
    {{else}}
        <p>No teams yet! <a href="/teams/new">Register a Team Now!</a></p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}