<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Hack The Dot{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<div class="container">
    <!--begin main template-->
    <div class="page-header float-left">
        <a href="/"><img src="/images/hack.jpg" width="70%"></a>
    </div>
    <div>
        <h3 class="float-right">Hack The Dot PDX</h3>
        <a href="/teams/new"><button class=""btn btn-info>Register Team</button></a>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}