{{#partial "content"}}

<h1>Add a new Team!</h1>

<form action="/teams/new" method="post">
    <label for="name">Team Name:</label>
    <input id="name" name="name" type="text" placeholder="Your team name here">
    <br>
    <label for="description">Team Description:</label>
    <input id="description" name="description" type="text" placeholder="Briefly describe your team">
    <br>
    <label for="date">Team Members"</label>
    <input id="members" name="members" type="text" placeholder="Ex: Bill, Scotty, DJ">
    <br>
    <button type="submit" class="btn btn-default">Create Team</button>

</form>
{{/partial}}

{{> layout.hbs}}